<div class="px-5" data-view-name="oce-start-quiz">
    <form action="/quiz/generate" method="POST">
        <div class="form-group mt-3">
            <label for="categorySelect">Kategorie</label>
            <select class="form-control custom-select selectpicker" required multiple data-actions-box="true"
                data-live-search="true" data-selected-text-format="count > 3" data-size="8" name="categories"
                id="categorySelect">
                {{!-- {{#each categories}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}} --}}
                {{#each categoriesTree}}
                <optgroup label="{{this.name}}">
                    <option value="{{this.id}}" {{#if @root.isQuick}}selected{{/if}}
                        data-subtext="{{this.questionCount}} {{#numeral this.questionCount "pytanie" "pytania" "pytań"}}{{/numeral}}">
                        {{this.name}}</option>
                    {{#each this.subcategories}}
                    <option value="{{this.id}}" {{#if @root.isQuick}}selected{{/if}}
                        data-subtext="{{this.questionCount}} {{#numeral this.questionCount "pytanie" "pytania" "pytań"}}{{/numeral}}">
                        {{this.name}}</option>
                    {{/each}}
                </optgroup>
                {{/each}}
            </select>
        </div>
        <div class="form-group mt-3">
            <label for="questionCount">Ilość pytań</label>
            <input class="form-control" type="number" id="questionCount" name="questionCount" min="{{minQuestionCount}}"
                max="{{maxQuestionCount}}" value="{{#if isQuick}}1{{else}}15{{/if}}" />
        </div>
        <button class="btn btn-primary btn-block mt-2 oce-form-button" type="submit" name="action">Zaczynamy!</button>
        {{#if toFewQuestions}}
        <div class="text-center">
            <small class="text-danger">W wybranych kategoriach jest zbyt mało pytań.<br>
                Wybierz więcej kategorii lub mniejszą ilość pytań.</small>
        </div>
        {{/if}}
    </form>
</div>
<script>

</script>