<form action="/question/" method="post" class="m-0">
    <div class="form-group mb-3">
        <label for="questionTextarea">Treść pytania:</label>
        <textarea class="form-control" id="questionTextarea" rows="3" maxlength="{{maxQuestionLength}}" name="question[text]" required></textarea>
        <span class="character-count pull-right badge badge-dark" id="count_message"></span>
    </div>
    <label>Odpowiedzi:</label>
    {{#times defaultAnswerAmount}}
    <div class="input-group mb-1">
        <input type="text" class="form-control" required name="answer[{{this}}][text]" aria-label="Treść odpowiedzi"
            maxlength="{{../maxQuestionLength}}" />
        <div class="input-group-append">
            <div class="input-group-text">
                <input type="checkbox" aria-label="Poprawna?" title="Czy poprawna?" data-toggle="tooltip"
                    data-placement="left" name="answer[{{this}}][correct]" value="1" />
            </div>
        </div>
    </div>
    {{/times}}
    <button class="btn btn-primary btn-block mt-2" type="submit" name="action">Dodaj pytanie</button>
</form>
<script> // TODO: Change jQ into plain js
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    var text_max = {{maxQuestionLength}};
    var text_length = $('#questionTextarea').val().length;
    var text_remaining = text_max - text_length;

    $('#count_message').html(text_length + ' / ' + text_max);

    $('#questionTextarea').keyup(function () {
        var text_length = $('#questionTextarea').val().length;
        var text_remaining = text_max - text_length;

        $('#count_message').html(text_length + ' / ' + text_max);
    });
</script>