{{#if isAdmin}}
<div class="w-100">
    <div class="pull-right mr-2">
        <a href="/questions/admin/pending" class="btn btn-primary"><i class="fa fa-clock-o" title="Oczekujące pytania"
                data-toggle="tooltip"></i></a>
    </div>
</div>
<br />
<br />
{{/if}}
<div class="accordion" data-view-name="oce-my-questions">
    {{#each data}}
    <li class="card">
        <div class="card-header">
            <div class="pull-right">
                {{#if isPublic}}
                <span class="badge badge-basic light">
                    <i class="fa fa-eye" data-toggle="tooltip" title="Pytanie publiczne"></i>
                </span>
                {{else}}

                {{/if}}
                <span class="badge badge-primary light mr-1" data-toggle="tooltip"
                    title="{{this.category.description}}">{{this.category.name}}</span>
                <div class="btn-group">
                    <a href="/question/{{this.id}}" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-primary collapser">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>
            </div>
            <span>{{this.text}}</span>
        </div>
        <div class="collapse">
            <div class="card-body">
                {{#each this.answers}}
                <div>
                    <span class="d-inline-block" style="width: 20px">
                        {{#if this.correct}}
                        <i class="fa fa-check"></i>
                        {{else}}
                        <i class="fa fa-close"></i>
                        {{/if}}
                    </span>
                    <span>{{this.text}}</span>
                </div>
                {{/each}}
                <div class="pull-right mb-3">
                    <small class="mr-2">Twórca pytania: <a
                            href="/profile/{{this.creator.id}}">{{this.creator.username}}</a></small>
                </div>
            </div>
        </div>
    </li>
    {{/each}}
</div>
<script>
    $('.collapser').click(function () {
        $('.collapse').collapse('hide');
        $(this).parents('.card-header').next().collapse('toggle');
    });
</script>