<div class="accordion" data-view-name="oce-pending-questions">
    {{#each data}}
    <li class="card">
        <div class="card-header">
            <div style="float: right;">
                <span class="badge badge-primary light m-1" data-toggle="tooltip"
                    title="{{this.category.description}}">{{this.category.name}}</span>
                <div class="d-inline">
                    <a href="javascript:void(0);" class="btn btn-primary collapser">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>
            </div>
            <span>{{this.text}}</span>
        </div>
        <div class="collapse">
            <div class="card-body">
                {{#each this.answers}}
                <div>
                    <span style="display: inline-block; width: 20px">
                        {{#if this.correct}}
                        <i class="fa fa-check"></i>
                        {{else}}
                        <i class="fa fa-close"></i>
                        {{/if}}
                    </span>
                    <span>{{this.text}}</span>
                </div>
                {{/each}}
                <div class="pull-right mb-3">
                    <small class="mr-2">Twórca pytania: <a
                            href="/profile/{{this.creator.id}}">{{this.creator.username}}</a></small>
                    <form action="/question/admin/pending/{{this.id}}" method="POST" class="d-inline m-1">
                        <input type="hidden" name="action" value="accept">
                        <button type="submit" class="btn btn-success" name="button">Zaakceptuj</button>
                    </form>
                    <form action="/question/admin/pending/{{this.id}}" method="POST" class="d-inline m-1">
                        <input type="hidden" name="action" value="deny">
                        <button type="submit" class="btn btn-danger" name="button">Odrzuć</button>
                    </form>
                </div>
            </div>
        </div>
    </li>
    {{/each}}
</div>
<script>
    $('.collapser').click(function () {
        $('.collapse').collapse('hide');
        $(this).parents('.card-header').next().collapse('toggle');
    });
</script>